<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
    <%= render @comments %>
</div>

<%#== pagy_nav(@pagy) %>
<%= link_to "New comment", new_comment_path %>
<%== pagy_next_link(@pagy, text: 'More...', link_extra: 'id="next_link"') %>

<div id ="load_more_button">
  <%= button_to "Load more", pagy_url_for(@pagy, @pagy.next), method: :post %>
</div>