<!DOCTYPE html>
<html>
  <head>
    <title>PagyProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Go to comments(button_turbo_frame)" ,comments_path %>
    <%= link_to "Go to posts(scroll_turbo_frame)" ,posts_path %>
    <%= link_to "Go to artists(Frames + Streams)" , artists_path %>
    <%= yield %>
  </body>
</html>
